<div class="main">
    <div class="">
      <h1> Welcome </h1>
    </div>
    <div>
      <h5>What would you like to do?</h5>
    </div>
      <div class="btn-block">
        <a routerLink="made"><button class="btn btn-success"> Add new income </button></a>
        <a routerLink="spent"><button class="btn btn-danger"> Add an expense </button></a>
        <a routerLink="totals"><button class="btn btn-warning"> View my totals </button></a>
        <a routerLink=""><button class="btn btn-primary"> LOGOUT </button></a>
    </div>
  </div>




