@import url('https://fonts.googleapis.com/css?family=Roboto');
/*
font-family: 'Roboto', sans-serif;
*/
.main{
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  border-radius: 8px;
  width: 600px;
  height: 500px;
  color: lightskyblue;
}

.good-number{
  color: darkcyan;
  font-size: 20px;
}